@import "tailwindcss";

@theme {
  --font-primary: "Montserrat Variable", sans-serif;
  /* Reset colors */
  --color-*: initial;

  /* Light mode (default) */
  --color-bg: #f8fafc;
  --color-text: #111827;
  --color-button: #0d9488;
  --color-button-hover: #0f766e;
  --color-button-text: #ffffff;
}

:root.dark {
  --color-bg: #0b1215;
  --color-text: #e6f1f2;
  --color-button: #0d9488;
  --color-button-hover: #14b8a6;
  --color-button-text: #042f2e;
}

:root.light {
  --color-bg: #f8fafc;
  --color-text: #111827;
  --color-button: #0d9488;
  --color-button-hover: #0f766e;
  --color-button-text: #ffffff;
}

.nav-open a.nav-logo {
  transition: color 0.5s ease;
  transition-delay: 0.3s;
  color: var(--color-bg);
}

.burguer-menu-container {
  opacity: 0;
  background-color: var(--color-text);
  transition: opacity 0.5s ease;
}

.nav-open .burguer-menu-container {
  opacity: 1;
}

.nav-open .burguer-menu-button-text {
  transition: color 0.5s ease;
  transition-delay: 0.1s;
  color: var(--color-bg);
}
