---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Navbar from "../components/Navbar.astro";
import { type Locale } from "../i18n";
import "../styles/global.css";
import "@fontsource-variable/montserrat";

const { lang, title } = Astro.props as { lang: Locale; title: string };
---

<!doctype html>
<html lang={lang}>
  <Head title={title} />
  <body
    class="bg-bg text-text transition-colors duration-300 h-screen flex flex-col w-full"
  >
    <Navbar lang={lang} />
    <main class="grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
  }
</style>
