---
import Head from '../components/Head.astro';
import Navbar from '../components/Navbar.astro';
import { type Locale } from '../i18n';
import '../styles/global.css';
import '@fontsource-variable/montserrat';

const { lang, title } = Astro.props as { lang: Locale; title: string };
---

<!doctype html>
<html lang={lang}>
  <Head title={title} />
  <body class="bg-bg text-text transition-colors duration-300">
    <Navbar lang={lang} />
    <main style="padding: 1.5rem;">
      <slot />
      <button class="bg-button hover:bg-button-hover p-4 text-button-text">BUTTON COLOR</button>
      <p class="text-[#525252]">TEXTO SECUNDARIO</p>
    </main>
  </body>
</html>
<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
  }
</style>
